:root {
    --heavyPrimary: #113D47;
    --darkPrimary: #284346;
    --primary: #A2C4C1;
    --lightPrimary: #66CCCC;
    --gray: #E1E8E7;
    --white: #FFFFFF;
    --secondary: #C84557;
    --mainFont: 'Poppins', sans-serif;
}

/* global values */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: var(--mainFont);
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
}

/* navigation menu */

.navBar {
    height: 100%;
    max-height: max(100%, 70rem);
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLink {
    color: var(--lightPrimary);
    text-decoration: none;
    font-weight: 600;
    font-size: 2.5rem;
    border-left: 5px solid var(--secondary);
    padding: 0 30px;
    transition: border-left 300ms ease, color 300ms ease;
    border-radius: 4px;
    margin: auto 80px;
}

.navLink:hover {
    border-left: 5px solid var(--primary);
    color: var(--gray);
}

@media (max-width: 768px) {
    .navBar {
        padding-top: 4rem;
        flex-direction: column;
    }
    .navLink {
        border-left: none;
        border-bottom: 5px solid var(--secondary);
        transition: color 300ms ease;
        transition: border-bottom 300ms ease;
    }
    .navLink:hover {
        border-left: none;
        border-bottom: 5px solid var(--lightPrimary);
    }
}

/* overlay and title*/

.header {
    width: 100%;
    max-height: max(100%, 900px);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.homeLandscape {
    text-align: center;
    margin-top: 15rem;
    height: 45.8%;
    color: var(--lightPrimary);
    padding-bottom: 20rem;
}

h1 {
    font-weight: 600;
    font-size: 10rem;
    margin-bottom: -40px;
}

span {
    font-weight: 400;
    color: var(--lightPrimary);
    font-size: 4rem;
    border-top: 6px solid var(--secondary);
    border-radius: 10px;
    padding: 0 6rem;
}

@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 2rem;
        line-height: 4rem;
    }
    span {
        font-size: 2rem;
        font-weight: 300;
        padding: 10px 0;
    }
}

/* Skills section styles */

body {
    background-color: var(--white);
}

.skills {
    background-color: var(--lightPrimary);
    color: var(--white);
    height: 30rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.skills-title {
    font-size: 4.5rem;
    text-align: center;
    letter-spacing: 1rem;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    text-transform: uppercase;
}

.skills-border {
    margin-left: -6rem;
    height: 80%;
    width: .5rem;
    background-color: var(--secondary);
    border-radius: 4px;
}

.skills-list {
    margin-left: 8%;
    margin-top: 4rem;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.skills-list_link {
    font-size: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skills-list_link div {
    width: 100px;
    height: 100px;
    border: 10px solid var(--secondary);
    border-radius: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.skills-list_link p {
    margin-top: 0rem;
    font-weight: 600;
}

.htmllogo {
    background-image: url("/img/HTMLLogo.PNG");
}

.csslogo {
    background-image: url("/img/CSSLogo.PNG");
}

.jslogo {
    background-image: url("/img/JSLogo.png");
}

@media (max-width: 768px) {
    .skills {
        flex-direction: column;
        height: 100%;
    }
    .skills-title {
        transform: rotate(0deg);
        line-height: 7rem;
        margin-top: 2rem;
    }
    .skills-border {
        /* margin-left: -6rem; */
        height: .5rem;
        margin: 0 auto;
        width: 50%;
        background-color: var(--secondary);
        border-radius: 4px;
        margin-bottom: 3rem;
    }
    .skills-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
}

.skills-list_link img {
    height: 100px;
    width: 100px;
}

/* Proyects section styles */

.proyects {
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max(50rem, 80%);
}

.proyects-title {
    text-align: center;
    font-size: 5rem;
    color: var(--gray);
    text-transform: uppercase;
}

.title-border {
    height: 1rem;
    width: 90%;
    background-color: var(--white);
    border-radius: .4rem;
}

.proyects-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin-top: 4rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 4rem;
    width: 90%;
    height: min(500px, 100%);
}

.proyects-list_card {
    height: 100%;
    color: var(--white);
    border-radius: 3rem;
    overflow: hidden;
}

.card-image {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 20rem;
    width: 100%;
    position: relative;
    z-index: 3;
    border-radius: 3rem 3rem 0 0;
}

.card-text {
    position: relative;
    background-color: var(--heavyPrimary);
    text-align: center;
    padding: 2rem 2rem;
    display: grid;
    justify-items: center;
    height: max(40rem, 100%);
    top: -20rem;
    z-index: 4;
    border-radius: 3rem;
}

.card-animationIn {
    transition: top 500ms ease, border-radius 500ms ease;
    top: -1rem;
    border-radius: 0 0 3rem 3rem;
}

.card-animationOut {
    transition: top 500ms ease, border-radius 500ms ease;
    top: -20rem;
    border-radius: 3rem;
}

.card-text h3 {
    margin: 2rem auto 2rem;
    font-size: 2.5rem;
    line-height: 0rem;
    font-weight: 400;
    text-transform: uppercase;
}

.card-text p {
    font-size: 1.5rem;
    text-align: center;
    width: 90%;
}

.card-text-border {
    background-color: var(--lightPrimary);
    height: 5px;
    width: 90%;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .proyects-list {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .proyects-title {
        font-size: 3rem;
    }
    .title-border {
        height: .5rem;
    }
    .card-text h3 {
        margin: .5rem auto .5rem;
    }
    .card-animationIn {
        transition: none;
        top: -20rem;
        border-radius: 3rem;
    }
    .card-animationOut {
        transition: none;
        top: -20rem;
        border-radius: 3rem;
    }
    .card-text {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/cover.jpg');
        background-position: center center;
        background-size: cover;
    }
}

/* Contact Form Styles */

.contact {
    width: 100%;
    height: auto;
    padding: 10rem 0;
    background-color: var(--heavyPrimary);
}
.container{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
}

.form-container {
    width: 90%;
    margin: 0 auto;
    padding: 10rem 0;
    border-radius: 3rem;
    background-color: rgba(102, 204, 204);
    /* backdrop-filter: blur(1.5px); */
    text-align: center;
}

.form-container h2 {
    font-size: 5rem;
    letter-spacing: 1rem;
    line-height: 10rem;
    display: block;
}

.form-container_underline {
    position: relative;
    width: 70%;
    height: 1.5rem;
    margin: 0 auto 5rem auto;
    background-color: var(--secondary);
    border-radius: 2rem;
}

.form-container_input {
    display: inline-block;
    margin: 2rem 0;
    background-color: var(--heavyPrimary);
    color: var(--white);
    border: none;
    border-radius: .8rem;
    font-size: 1.8rem;
    width: 90%;
    height: 5rem;
    padding: 1rem 4rem;
    outline: none;
    transition: background-color 200ms ease-in;
}

.form-container_input:hover {
    background-color: var(--secondary);
    color: var(--white);
    transition: background-color 200ms ease-in;
}

.form-container_input:focus {
    background-color: var(--darkPrimary);
    color: var(--white);
}

.form-container_input::placeholder {
    color: gray;
    font-weight: 500;
    font-size: 2rem;
}

.form-container textarea {
    resize: none;
    height: 20rem;
    padding: 4rem 4rem;
    color: var(--white);
}

.form-container button {
    display: inline;
    background-color: var(--secondary);
    color: var(--darkPrimary);
    width: 20rem;
    height: 6rem;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: 600;
    transition: background-color 100ms ease-in, color 100ms ease-in, border-radius 100ms ease-in, font-size 100ms ease-in, letter-spacing 100ms ease-in, box-shadow 100ms ease-in;
}

.form-container button:hover {
    background-color: var(--heavyPrimary);
    color: var(--white);
    border-radius: 1.5rem;
    font-size: 2rem;
    -webkit-box-shadow: none 0px 0px 11px 6px rgba(0, 0, 0, 0.88);
    box-shadow: none 0px 0px 11px 6px rgba(0, 0, 0, 0.88);
}
@media (max-width: 768px) {
    .form-container h2{
        font-size: 3rem;
        letter-spacing: 0;
        font-weight: 600;
    }   
    .form-container_underline{
        height: .8rem;
    }
    .container{
        align-items: center;
        justify-content: center;
        align-content: center;
        width: 70%;
    }
    .form-container_input{
        transition: none;
        width: 70%;
    }
    .form-container_input:hover, .form-container_input:focus{
        background-color: var(--heavyPrimary);
    }
    .form-container button{
        width: 85%;
        transition: none;
    }
    .form-container button:hover{
        background-color: var(--secondary);
        color: var(--heavyPrimary);
        border-radius: 1rem;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

/* Footer Styles*/
footer{
    background-color: var(--heavyPrimary);
    color: var(--white);
    margin: 0;
    text-align: center;
}
footer p {
    margin: 0;
}