:root {
    --heavyPrimary: #113D47;
    --darkPrimary: #284346;
    --primary: #A2C4C1;
    --lightPrimary: #66CCCC;
    --gray: #E1E8E7;
    --white: #FFFFFF;
    --secondary: #C84557;
    --mainFont: 'Poppins', sans-serif;
}

/* global values */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: var(--mainFont);
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
}

/* navigation menu */

.navBar {
    height: 100%;
    max-height: max(100%, 70rem);
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.navLink {
    color: var(--lightPrimary);
    text-decoration: none;
    font-weight: 600;
    font-size: 2.5rem;
    border-left: 5px solid var(--secondary);
    padding: 0 30px 0 30px;
    transition: border-left 300ms ease, color 300ms ease;
    border-radius: 4px;
    margin: auto 4rem;
    text-align: center;
}

.navLink:hover {
    border-left: 5px solid var(--primary);
    color: var(--gray);
}

@media (max-width: 768px) {
    .navBar {
        padding-top: 4rem;
        flex-direction: column;
    }
    .navLink {
        border-left: none;
        border-bottom: 5px solid var(--secondary);
        transition: color 300ms ease;
        transition: border-bottom 300ms ease;
    }
    .navLink:hover {
        border-left: none;
        border-bottom: 5px solid var(--lightPrimary);
    }
}

/* overlay and title*/

.header {
    width: 100%;
    max-height: max(100%, 900px);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.homeLandscape {
    text-align: center;
    margin-top: 15rem;
    height: 45.8%;
    color: var(--lightPrimary);
    padding-bottom: 20rem;
}

.homeLandscape-title {
    font-weight: 600;
    font-size: 8rem;
    margin-bottom: -40px;
}

.homeLandscape-subtitle {
    font-weight: 400;
    color: var(--lightPrimary);
    font-size: 4rem;
    border-top: 6px solid var(--secondary);
    border-radius: 10px;
    padding: 0 6rem;
}

@media (max-width: 768px) {
    .homeLandscape-title {
        font-size: 5rem;
        font-weight: 500;
        margin-bottom: 2.5rem;
        line-height: 4rem;
    }
    .homeLandscape-subtitle {
        font-size: 2rem;
        font-weight: 300;
        padding: 10px 0;
    }
}

/* Skills section styles */

body {
    background-color: var(--white);
}

.skills {
    background-color: var(--lightPrimary);
    color: var(--white);
    height: 35rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.skills-title {
    font-size: 4.5rem;
    text-align: center;
    letter-spacing: 1rem;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    text-transform: uppercase;
}

.skills-border {
    margin-left: -6rem;
    height: 80%;
    width: .5rem;
    background-color: var(--secondary);
    border-radius: 4px;
}

.skills-list {
    margin-left: 8%;
    margin-top: 4rem;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
}

.skills-list_link {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 150px;
    width: 100px;
    flex-direction: column;
    font-family: var(--mainFont);
    font-weight: bold;
}

.skills-list_link div {
    width: 100px;
    height: 100px;
    border: 10px solid var(--secondary);
    border-radius: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.skills-list_link p {
    margin-top: 0rem;
    font-weight: 600;
}

.htmllogo {
    background-image: url("/img/HTMLLogo.PNG");
}

.csslogo {
    background-image: url("/img/CSSLogo.PNG");
}

.jslogo {
    background-image: url("/img/JSLogo.png");
}

@media (max-width: 768px) {
    .skills {
        flex-direction: column;
        height: 100%;
    }
    .skills-title {
        transform: rotate(0deg);
        line-height: 7rem;
        margin-top: 2rem;
    }
    .skills-border {
        /* margin-left: -6rem; */
        height: .5rem;
        margin: 0 auto;
        width: 50%;
        background-color: var(--secondary);
        border-radius: 4px;
        margin-bottom: 3rem;
    }
    .skills-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
}

.skills-list_link img {
    height: 100px;
    width: 100px;
}

/* Proyects section styles */

.proyects {
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max(50rem, 80%);
}

.proyects-title {
    text-align: center;
    font-size: 5rem;
    color: var(--gray);
    text-transform: uppercase;
}

.title-border {
    height: 1rem;
    width: 90%;
    background-color: var(--white);
    border-radius: .4rem;
}

.proyects-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin-top: 4rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 4rem;
    width: 90%;
    height: min(500px, 100%);
}

.proyects-list_card {
    height: 100%;
    color: var(--white);
    border-radius: 3rem;
    overflow: hidden;
}

.card-image {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url('/img/Project1.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 20rem;
    width: 100%;
    position: relative;
    z-index: 3;
    border-radius: 3rem 3rem 0 0;
}

.card-text {
    position: relative;
    background-color: var(--heavyPrimary);
    text-align: center;
    padding: 2rem 2rem;
    display: grid;
    justify-items: center;
    height: max(40rem, 100%);
    top: -20rem;
    z-index: 4;
    border-radius: 3rem;
}

.card-animationIn {
    transition: top 500ms ease, border-radius 500ms ease;
    top: -1rem;
    border-radius: 0 0 3rem 3rem;
}

.card-animationOut {
    transition: top 500ms ease, border-radius 500ms ease;
    top: -20rem;
    border-radius: 3rem;
}

.card-text h3 {
    margin: 2rem auto 2rem;
    font-size: 2.5rem;
    line-height: 0rem;
    font-weight: 400;
    text-transform: uppercase;
}

.card-text p {
    font-size: 1.5rem;
    text-align: center;
    width: 90%;
}

.card-text-border {
    background-color: var(--lightPrimary);
    height: 5px;
    width: 90%;
    border-radius: 10px;
}
.card-link{
    position: relative;
    top: 1rem;
    left: 27rem;
    font-size: 5rem;
    color: var(--gray);
}
.card-link::after{
    content: '';
    background-color: black;
    height: 10rem;
    width: 10rem;
}

@media (max-width: 768px) {
    .proyects-list {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .proyects-title {
        font-size: 3rem;
    }
    .title-border {
        height: .5rem;
    }
    .card-text h3 {
        margin: .5rem auto .5rem;
    }
    .card-animationIn {
        transition: none;
        top: -20rem;
        border-radius: 3rem;
    }
    .card-animationOut {
        transition: none;
        top: -20rem;
        border-radius: 3rem;
    }
    .card-text {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/cover.jpg');
        background-position: center center;
        background-size: cover;
    }
}

/* Footer Styles*/
footer{
    background-color: var(--secondary);
    color: var(--white);
    margin: 0;
    text-align: center;
}
footer p {
    margin: 0;
}